.ant-btn-link[disabled], .ant-btn-link[disabled]:hover, .ant-btn-link[disabled]:focus, .ant-btn-link[disabled]:active {
    color: #13407F;
    background:  #fff;
    border-color: #fff;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: bolder;
}

.ant-btn-menu {
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 16px;
    border-radius: 2px;
    color: #13407F;
    background: #fff;
    border-color: #fff;
}

.vj-box {
    color: black;
    border-style: solid;
    border-width: thin;
}
.vj-header {
    background-color: #e7e6e6;
    text-align: center;
    border-bottom-style: solid;
    border-width: thin;
}

.vj-text {
    margin-left: 10px;
}

.bold-text {
    font-family: Arial;
    font-weight: bold;
}

.mid-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-box {
    border-style: solid;
    border-width: thin;
}
.border-bottom {
    border-bottom-style: solid;
    border-width: thin;
}
.border-right {
    border-right-style: solid;
    border-width: thin;
    text-align: center;
}

.input-text-align {
    text-align: center;
}
.input-text-align-left {
    text-align: left;
}

.purchase-order-text {
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    background-color: #808080;
    border-style: solid;
    border-width: thin;
    border-bottom-style: none;
}
.white-text {
    color: white;
}
.black-text {
    color: black;
}

.select-style {
    width: 200px;
    height: 14px;
}

.margin-top {
    margin-top: 10px;
}

.signature {
    text-align: center;
}

.name {
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
}

.authorized-by {
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    text-align: center;
}
.name-select {
    text-align: right;
}
/* 
.ant-btn-div :hover   {
    color: #13407F;
    background-color:  #ffff;
    font-weight: bolder;
    border-color: #ffff;
}


.ant-btn-search {
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: #fff;
    background:  #13407F;
    border-color: #fff;
}

.ant-btn-search :hover   {
    color: #13407F;
    background-color:  #fff;
    font-weight: bolder;
    border-color: #ffff;
}  */





